/*===================================*\
   `CAROUSEL
\*===================================*/

.carousel-item {
	background-color: $brand_clr;
	height: 200px;
    background-size: cover;

	@include respond-min($human) {
		height: 560px;
	}
}

.carousel-item-1 {
    background-position: right;
	background-image: url("../images/carousel/fox-1.jpg");
}

.carousel-body {
	padding: 15px;
	bottom: 0;
	position: absolute;
}

