/*===================================*\
   `CAROUSEL
\*===================================*/

.carousel .container {
	position: relative;
}

.carousel-item {
	background-color: $brand_clr;
	height: 200px;
    background-size: cover;
    color: $brand_clr-lighter;

	@include respond-min($human) {
		height: 560px;
	}

	h1 {
		@include font-size(36px);

		@include respond-min($human) {
			@include font-size(50px);
		}
	}

	span {
		@include font-size(14px);
		position: relative;
		top: -10px;
		font-family: 'Lato', sans-serif;
		color: $brand_clr;

		@include respond-min($human) {
			@include font-size(25px);
		}
	}
}

.carousel-item-1 {
    background-position: right;
	background-image: url("../images/carousel/fox-1.jpg");

	.carousel-body {
		top: 1em;

		@include respond-min($human) {
			top: 17em;
		}
	}
}

.carousel-item-2 {
	background-image: url("../images/carousel/fox-2.jpg");

	.carousel-body {
		top: 2em;
		@include respond-min($human) {
			top: 4em;
			right: 1em;
		}
	}
}

.carousel-item-3 {
	background-image: url("../images/carousel/fox-3.jpg");

	.carousel-body {
		top: 6em;

		@include respond-min($human) {
			top: 25em;
		}
	}
}

.carousel-body {
	padding: 15px;
	bottom: 0;
	position: absolute;
}

