/*===================================*\
   `FOOTER
\*===================================*/

.footer {
	font-family: 'Lato', sans-serif;
	background-color: $brand_clr-dark;
	color: $brand_clr-lighter;
}