/*===================================*\
   `VARIABLES
\*===================================*/

$brand_clr: #77e1fc;
$brand_clr-dark: #202628;
$brand_clr-lighter: #e7e7e7;


// Global Break points
$hobbit: 320px;
$dwarf:  480px;
$human:  768px;
$elf:   992px;
$wizard:  1200px;